In [147]:
import numpy as np
import pandas as pd

In [148]:
movies = pd.read_csv('./IMDB/movies_metadata.csv')
# movies.set_index('id', inplace=True)

C:\Users\Yazdan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [149]:
# ALL COLUMNS: 
# all column names are bellow. those with (?) are not decided. indented ones are decided ones!

# adult -> has 5 unique values -> (?)
# belongs_to_collection -> sparse -> we can assign 1 to those which have a collection and 0 to others (?)
# budget -> has missing values -> how to replace missing ones? -> avg (?) 
  # genres -> one-hot -> create a new columns for each genre and use one-hot encoder
  # homepage -> is not informative -> delete
  # id -> a few movies does not have id! -> we can delete those
  # imdb_id -> we don't use it -> can be removed 
# original_language -> informative enogh (?)
# original_title
  # overview -> not simple to use -> delete
# popularity -> has missing values -> fill missed values and normalization
  # poster_path -> delete
# production_companies ?
# production_countries -> delete?
# release_date -> is informative enogh (?) -> we can use 'year' only (?)
# revenue -> standardization
# runtime -> is informative enogh (?) -> normalization (?)
# spoken_languages ? 
# status -> we can delete all not Released ?
# tagline -> delete
# title -> same as original_name (?) original has 3 more uniqe values -> delete
# video -> what's this feature?! -> (?)
  # vote_average -> normalization/standardization
  # vote_count -> normalization

print(movies.shape)
print("adult:", movies['adult'].nunique())
print("id:", movies['id'].nunique())
print("imdb_id:", movies['imdb_id'].nunique())
print("original_language:", movies['original_language'].nunique())
print("popularity:", movies['popularity'].nunique())
print("status:", movies['status'].unique())
print("title:", movies['title'].nunique(), "- original_title:", movies['original_title'].nunique())

(45466, 24)
adult: 5
id: 45436
imdb_id: 45417
original_language: 92
popularity: 44176
status: ['Released' nan 'Rumored' 'Post Production' 'In Production' 'Planned'
 'Canceled']
title: 42277 - original_title: 43373

In [150]:
movies.drop(['homepage', 'imdb_id', 'overview', 'poster_path'], axis=1, inplace=True)
movies.head()

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [151]:
from ast import literal_eval

In [152]:
movies['genres'] = movies['genres'].apply(literal_eval)

In [153]:
movies.head()

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [154]:
encoded = pd.get_dummies(movies.explode('genres')['genres'].astype('str'), prefix='genre')
encoded = encoded.groupby(level=0).sum()
encoded

,genre_nan,"genre_{'id': 10402, 'name': 'Music'}","genre_{'id': 10749, 'name': 'Romance'}","genre_{'id': 10751, 'name': 'Family'}","genre_{'id': 10752, 'name': 'War'}","genre_{'id': 10769, 'name': 'Foreign'}","genre_{'id': 10770, 'name': 'TV Movie'}","genre_{'id': 12, 'name': 'Adventure'}","genre_{'id': 14, 'name': 'Fantasy'}","genre_{'id': 16, 'name': 'Animation'}",...,"genre_{'name': 'Carousel Productions', 'id': 11176}","genre_{'name': 'GoHands', 'id': 7759}","genre_{'name': 'Mardock Scramble Production Committee', 'id': 7761}","genre_{'name': 'Odyssey Media', 'id': 17161}","genre_{'name': 'Pulser Productions', 'id': 18012}","genre_{'name': 'Rogue State', 'id': 18013}","genre_{'name': 'Sentai Filmworks', 'id': 33751}","genre_{'name': 'Telescene Film Group Productions', 'id': 29812}","genre_{'name': 'The Cartel', 'id': 23822}","genre_{'name': 'Vision View Entertainment', 'id': 11602}"
0,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45464,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45465,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [155]:
movies = pd.concat([movies, encoded], axis=1).drop('genres', axis=1)
movies

,adult,belongs_to_collection,budget,id,original_language,original_title,popularity,production_companies,production_countries,release_date,...,"genre_{'name': 'Carousel Productions', 'id': 11176}","genre_{'name': 'GoHands', 'id': 7759}","genre_{'name': 'Mardock Scramble Production Committee', 'id': 7761}","genre_{'name': 'Odyssey Media', 'id': 17161}","genre_{'name': 'Pulser Productions', 'id': 18012}","genre_{'name': 'Rogue State', 'id': 18013}","genre_{'name': 'Sentai Filmworks', 'id': 33751}","genre_{'name': 'Telescene Film Group Productions', 'id': 29812}","genre_{'name': 'The Cartel', 'id': 23822}","genre_{'name': 'Vision View Entertainment', 'id': 11602}"
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,0,0,0,0,0,0,0,0,0,0
1,False,NaN,65000000,8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,0,0,0,0,0,0,0,0,0,0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,15602,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,0,0,0,0,0,0,0,0,0,0
3,False,NaN,16000000,31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,0,0,0,0,0,0,0,0,0,0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,439050,fa,Ø±Ú¯ Ø®ÙˆØ§Ø¨,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,...,0,0,0,0,0,0,0,0,0,0
45462,False,NaN,0,111109,tl,Siglo ng Pagluluwal,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,...,0,0,0,0,0,0,0,0,0,0
45463,False,NaN,0,67758,en,Betrayal,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,...,0,0,0,0,0,0,0,0,0,0
45464,False,NaN,0,227506,en,Satana likuyushchiy,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,...,0,0,0,0,0,0,0,0,0,0
45465,False,NaN,0,461257,en,Queerama,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,...,0,0,0,0,0,0,0,0,0,0